.transition, .navbar-default .navbar-collapse #main-menu li a, footer ul li a, .recent-posts ul li a, .container #contact #contact-widget .nf-image-border img, .container #contact #contact-widget .nf-image-border .image-hover, .container #project-info .list .project .image a img, .container #project-info .list .news .image a img,
.container #news .list .project .image a img,
.container #news .list .news .image a img, .container #du-an-bds .du-an-item .image img, .search-result .image a img {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s; }

@font-face {
  font-family: 'Proximanova';
  src: url("../fonts/VNF-ProximaNovaCond-Regular.ttf"); }
@font-face {
  font-family: 'Calendas Plus';
  src: url("../fonts/Calendas_Plus.otf"); }
body {
  padding-top: 60px;
  overflow-y: scroll; }
  body .wrapper {
    min-height: 450px; }

.navbar-default {
  min-height: 60px;
  border-radius: 0px;
  background-image: none;
  background-color: #022B41;
  border-top: 3px solid #414141;
  border-left: none;
  padding: 0px;
  font-family: "Proximanova" !important; }
  .navbar-default .dropdown:hover .dropdown-menu {
    display: block; }
  .navbar-default .navbar-header {
    height: 60px; }
    .navbar-default .navbar-header .navbar-brand {
      padding: 5px 0px; }
      .navbar-default .navbar-header .navbar-brand img {
        height: 50px;
        max-width: 250px; }
  .navbar-default .navbar-collapse #main-menu li a {
    line-height: 60px;
    padding: 0px 15px;
    color: #DEA226;
    font-size: 14px;
    text-transform: uppercase;
    font-size: 15px; }
  .navbar-default .navbar-collapse #main-menu li ul {
    padding: 0px;
    margin-top: -1px; }
    .navbar-default .navbar-collapse #main-menu li ul a.dropdown-toggle {
      display: none; }
    .navbar-default .navbar-collapse #main-menu li ul li a {
      background-color: #414141 !important;
      line-height: 40px;
      color: #e9e9e9;
      border-top: 1px solid rgba(0, 0, 0, 0.13);
      font-size: 14px; }
  .navbar-default .navbar-collapse #main-menu li a:hover {
    color: #1abb9c; }
  .navbar-default .navbar-collapse #main-menu .open a {
    background-color: #022B41;
    background-image: none; }

footer {
  background: #2D3E4F;
  color: #fff;
  font-family: 'Proximanova';
  padding: 10px 0px 40px; }
  footer .widget-title {
    font-size: 26px; }
  footer ul {
    padding-left: 10px; }
    footer ul li a {
      text-decoration: none !important;
      color: #fff; }
    footer ul li a:hover {
      color: rgba(255, 255, 255, 0.6); }

.recent-posts .widget-title {
  margin-top: 20px;
  font-family: 'Proximanova';
  color: #d14233;
  font-size: 22px;
  font-weight: bold; }
.recent-posts ul li {
  margin: 0px;
  padding: 0px;
  border: none; }
  .recent-posts ul li a {
    color: #333;
    line-height: 25px; }
  .recent-posts ul li a:hover {
    color: #d14233; }
.recent-posts ul li:before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  background-image: url("../images/star.png");
  float: left;
  background-size: 15px 15px;
  margin-top: 2px;
  margin-right: 5px; }

.ssb-share > div {
  float: left;
  width: 90px; }

@media (max-width: 767px) {
  .navbar-default .navbar-collapse #main-menu li a {
    line-height: 25px !important; } }
.container #contact {
  margin-top: 40px; }
  .container #contact #contact-widget {
    margin-top: 30px;
    margin-bottom: 30px; }
    .container #contact #contact-widget .nf-image-border {
      width: 150px;
      height: 150px;
      margin: 10px auto;
      border-radius: 100%;
      overflow: hidden;
      border: 5px solid #fff;
      box-sizing: border-box;
      box-shadow: 0 0 5px #000;
      position: relative; }
      .container #contact #contact-widget .nf-image-border img {
        width: 100%;
        min-height: 100%;
        cursor: pointer; }
      .container #contact #contact-widget .nf-image-border .image-hover {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        background-color: rgba(0, 0, 0, 0.2);
        text-align: center;
        display: none;
        cursor: pointer; }
        .container #contact #contact-widget .nf-image-border .image-hover .glyphicon-search {
          color: #fff;
          font-size: 30px;
          line-height: 140px; }
    .container #contact #contact-widget .nf-image-border:hover .image-hover {
      display: block; }
    .container #contact #contact-widget .nf-conctact-name {
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 0px; }
    .container #contact #contact-widget .nf-conctact-phone {
      text-align: center;
      color: #d14233;
      font-size: 16px;
      font-weight: bold; }
    .container #contact #contact-widget .glyphicon-chevron-left {
      left: -40px; }
    .container #contact #contact-widget .glyphicon-chevron-right {
      right: -40px; }
    .container #contact #contact-widget .glyphicon-chevron-left,
    .container #contact #contact-widget .glyphicon-chevron-right {
      display: inline-block;
      position: absolute;
      margin-top: 75px;
      font-size: 30px;
      color: #fff;
      text-shadow: 0 0 5px #000; }

.container #goldland-single #breadcrumbs, .container #page #breadcrumbs {
  margin-top: 20px; }

.overflow-hidden {
  overflow: hidden; }

.fb-comments,
.fb-comments span,
.fb-comments iframe {
  width: 100% !important; }

.searchform .screen-reader-text {
  display: none; }
.searchform input {
  height: 34px;
  padding: 5px;
  color: #333;
  border-radius: 3px; }
.searchform input[type="text"] {
  border: 1px solid #ddd; }
.searchform input[type="submit"] {
  color: #fff;
  background: #27ae60;
  border: none;
  padding-left: 10px;
  padding-right: 10px; }

.container #text-widget {
  margin-bottom: 20px; }
  .container #text-widget h1 {
    font-family: 'Calendas Plus';
    font-style: oblique;
    font-size: 30px;
    color: #d14233;
    font-weight: bold; }
  .container #text-widget .textwidget {
    font-family: 'Calendas Plus';
    font-weight: 100;
    font-size: 14px;
    font-style: oblique; }
.container #slider .master-slider-parent {
  border: 5px solid #fff;
  overflow: auto;
  box-shadow: 0 0 5px #000; }
.container .group {
  font-family: 'Proximanova';
  color: #333;
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 30px; }
  .container .group .title {
    margin-bottom: 20px;
    font-weight: bold; }
    .container .group .title h3 {
      font-size: 26px; }
      .container .group .title h3 a {
        color: #333;
        text-decoration: none; }
      .container .group .title h3 a:hover {
        color: blue; }
  .container .group .title::after {
    display: block;
    content: ' ';
    width: 100%;
    max-width: 380px;
    border-top: 2px solid #e8ce4d;
    margin: 8px auto;
    -webkit-animation: myfirst 5s linear;
    animation: myfirst 3s linear; }
.container #project-info .list .project, .container #project-info .list .news,
.container #news .list .project,
.container #news .list .news {
  padding: 10px; }
  .container #project-info .list .project .image, .container #project-info .list .news .image,
  .container #news .list .project .image,
  .container #news .list .news .image {
    border: 5px solid #fff;
    box-sizing: border-box;
    box-shadow: 0 0 5px #000;
    overflow: hidden; }
    .container #project-info .list .project .image a, .container #project-info .list .news .image a,
    .container #news .list .project .image a,
    .container #news .list .news .image a {
      text-decoration: none; }
      .container #project-info .list .project .image a img, .container #project-info .list .news .image a img,
      .container #news .list .project .image a img,
      .container #news .list .news .image a img {
        width: 100%;
        height: auto !important; }
  .container #project-info .list .project .image:hover img, .container #project-info .list .news .image:hover img,
  .container #news .list .project .image:hover img,
  .container #news .list .news .image:hover img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2); }
  .container #project-info .list .project .p_row, .container #project-info .list .news .p_row,
  .container #news .list .project .p_row,
  .container #news .list .news .p_row {
    margin-top: 10px; }
    .container #project-info .list .project .p_row .date, .container #project-info .list .news .p_row .date,
    .container #news .list .project .p_row .date,
    .container #news .list .news .p_row .date {
      padding: 5px;
      border: 1px solid #ddd;
      float: left; }
      .container #project-info .list .project .p_row .date span, .container #project-info .list .news .p_row .date span,
      .container #news .list .project .p_row .date span,
      .container #news .list .news .p_row .date span {
        display: block;
        padding: 0px 5px; }
    .container #project-info .list .project .p_row .post-title, .container #project-info .list .news .p_row .post-title,
    .container #news .list .project .p_row .post-title,
    .container #news .list .news .p_row .post-title {
      overflow: hidden;
      text-align: left; }
      .container #project-info .list .project .p_row .post-title a, .container #project-info .list .news .p_row .post-title a,
      .container #news .list .project .p_row .post-title a,
      .container #news .list .news .p_row .post-title a {
        text-decoration: none; }
        .container #project-info .list .project .p_row .post-title a p, .container #project-info .list .news .p_row .post-title a p,
        .container #news .list .project .p_row .post-title a p,
        .container #news .list .news .p_row .post-title a p {
          padding-left: 10px;
          font-weight: bold;
          margin-bottom: 0px;
          min-height: 44px; }
.container #project-info .glyphicon-chevron-left,
.container #news .glyphicon-chevron-left {
  left: -40px; }
.container #project-info .glyphicon-chevron-right,
.container #news .glyphicon-chevron-right {
  right: -40px; }
.container #project-info .glyphicon-chevron-left,
.container #project-info .glyphicon-chevron-right,
.container #news .glyphicon-chevron-left,
.container #news .glyphicon-chevron-right {
  display: inline-block;
  position: absolute;
  margin-top: 170px;
  font-size: 30px;
  color: #fff;
  text-shadow: 0 0 5px #000; }
.container #why-is-goldland .widget-title,
.container #feedback .widget-title {
  text-transform: uppercase;
  font-size: 16px;
  color: #333;
  border-bottom: 1px solid #333; }
.container #why-is-goldland .rpwe-title a,
.container #feedback .rpwe-title a {
  color: #ff9900; }
.container #target .widget-title {
  text-transform: uppercase;
  font-size: 16px;
  color: #333;
  border-bottom: 1px solid #333; }
.container #target .rpwe-title a {
  color: #333; }
.container #du-an-bds .du-an-item {
  padding: 10px; }
  .container #du-an-bds .du-an-item .image {
    box-sizing: border-box;
    overflow: hidden;
    border: 3px solid #fff;
    box-shadow: 0 0 3px #000; }
    .container #du-an-bds .du-an-item .image img {
      width: 100% !important;
      height: auto !important; }
  .container #du-an-bds .du-an-item .image:hover img {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3); }
  .container #du-an-bds .du-an-item .post-title {
    text-align: center;
    padding-top: 10px; }
    .container #du-an-bds .du-an-item .post-title a {
      text-decoration: none; }
.container #du-an-bds .glyphicon-chevron-left {
  left: -40px; }
.container #du-an-bds .glyphicon-chevron-right {
  right: -40px; }
.container #du-an-bds .glyphicon-chevron-left,
.container #du-an-bds .glyphicon-chevron-right {
  display: inline-block;
  position: absolute;
  margin-top: 80px;
  font-size: 30px;
  color: #fff;
  text-shadow: 0 0 5px #000; }
.container #tin-bds .widget-title {
  text-transform: uppercase;
  font-size: 16px;
  color: #333;
  border-bottom: 1px solid #333; }
.container .author {
  font-size: 13px;
  font-weight: normal !important;
  color: #8899a6;
  text-transform: none;
  border-top: 1px solid rgba(136, 153, 166, 0.24); }

@media screen and (max-width: 1050px) {
  #project-info .glyphicon,
  #news .glyphicon,
  #contact .glyphicon {
    display: none !important; } }
@keyframes myfirst {
  from {
    width: 0px; }
  to {
    width: 100%; } }
.container #goldland-single {
  overflow: auto; }
  .container #goldland-single img {
    max-width: 100%; }
  .container #goldland-single .page-title,
  .container #goldland-single .widget-title {
    margin-top: 20px;
    font-family: 'Proximanova';
    color: #d14233;
    font-size: 22px;
    font-weight: bold; }
  .container #goldland-single .widget-title {
    margin-top: 25px; }
  .container #goldland-single .aligncenter {
    margin: 0px auto;
    display: block; }
  .container #goldland-single #apartment-design .rpwe-title {
    font-size: 16px !important;
    font-family: 'Proximanova';
    font-weight: bold !important;
    color: #333 !important;
    text-align: center; }
  .container #goldland-single #apartment-design .rpwe-img img {
    width: 100% !important;
    height: auto !important; }

.container #page {
  padding-bottom: 40px;
  overflow: auto; }
  .container #page .page-title, .container #page .widget-title {
    margin-top: 20px;
    font-family: 'Proximanova';
    color: #d14233;
    font-size: 22px;
    font-weight: bold; }
  .container #page .widget-title {
    margin-top: 25px; }
  .container #page .aligncenter {
    margin: 0px auto;
    display: block; }
  .container #page #apartment-design .rpwe-title {
    font-size: 16px !important;
    font-family: 'Proximanova';
    font-weight: bold !important;
    color: #333 !important;
    text-align: center; }
  .container #page #apartment-design .rpwe-img img {
    width: 100% !important;
    height: auto !important; }

.search-result-title {
  font-family: 'Proximanova';
  color: #333;
  text-transform: uppercase;
  font-size: 16px; }

.search-result {
  padding: 10px;
  min-height: 320px; }
  .search-result .image {
    border: 5px solid #fff;
    box-sizing: border-box;
    box-shadow: 0 0 5px #000;
    overflow: hidden; }
    .search-result .image a {
      text-decoration: none; }
      .search-result .image a img {
        width: 100%;
        height: auto !important; }
  .search-result .image:hover img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2); }
  .search-result .p_row {
    margin-top: 10px; }
    .search-result .p_row .date {
      padding: 5px;
      border: 1px solid #ddd;
      float: left; }
      .search-result .p_row .date span {
        display: block;
        padding: 0px 5px; }
    .search-result .p_row .post-title {
      overflow: hidden;
      text-align: left; }
      .search-result .p_row .post-title a {
        text-decoration: none; }
        .search-result .p_row .post-title a p {
          padding-left: 10px;
          font-weight: bold;
          margin-bottom: 0px; }

/*# sourceMappingURL=goldland.css.map */
