.container {
    #text-widget {
        margin-bottom: 20px;
        h1 {
            font-family: 'Calendas Plus';
            font-style: oblique;
            font-size: 30px;
            color: $pomegranate;
            font-weight: bold;
        }
        .textwidget {
            font-family: 'Calendas Plus';
            font-weight: 100;
            font-size: 14px;
            font-style: oblique;
        }
    }
    #slider {
        .master-slider-parent {
            border: 5px solid #fff;
            overflow: auto;
            box-shadow: 0 0 5px #000;
        }
    }
    .group {
        font-family: 'Proximanova';
        color: #333;
        text-transform: uppercase;
        font-size: $font-size-large;
        margin-top: 30px;
        .title {
            margin-bottom: 20px;
            font-weight: bold;
            h3 {
                font-size: 26px;
                a {
                    color: #333;
                    text-decoration: none;
                }
                a:hover {
                    color: blue;
                }
            }
        }
        .title::after {
            display: block;
            content: ' ';
            width: 100%;
            max-width: 380px;
            border-top: 2px solid #e8ce4d;
            margin: 8px auto;
            -webkit-animation: myfirst 5s linear;
            animation: myfirst 3s linear;
        }
    }
    #project-info,
    #news {
        .list {
            .project, .news {
                padding: 10px;
                .image {
                    border: 5px solid #fff;
                    box-sizing: border-box;
                    box-shadow: 0 0 5px #000;
                    overflow: hidden;
                    a {
                        text-decoration: none;
                        img {
                            width: 100%;
                            height: auto!important;
                            @extend .transition;
                        }
                    }
                }
                .image:hover img {
                    transform: scale(1.2);
                    -webkit-transform: scale(1.2);
                    -moz-transform: scale(1.2);
                    -ms-transform: scale(1.2);
                    -o-transform: scale(1.2);
                }
                .p_row {
                    margin-top: 10px;
                    .date {
                        padding: 5px;
                        border: 1px solid #ddd;
                        float: left;
                        span {
                            display: block;
                            padding: 0px 5px;
                        }
                    }
                    .post-title {
                        overflow: hidden;
                        text-align: left;
                        a {
                            text-decoration: none;
                            p {
                                padding-left: 10px;
                                font-weight: bold;
                                margin-bottom: 0px;
                                min-height: 44px;
                            }
                        }
                    }
                }
            }
        }
        .glyphicon-chevron-left {
            left: -40px;
        }
        .glyphicon-chevron-right {
            right: -40px;
        }
        .glyphicon-chevron-left,
        .glyphicon-chevron-right {
            display: inline-block;
            position: absolute;
            margin-top: 170px;
            font-size: 30px;
            color: #fff;
            text-shadow: 0 0 5px #000;
        }
    }
    #why-is-goldland,
    #feedback {
        .widget-title {
            text-transform: uppercase;
            font-size: 16px;
            color: #333;
            border-bottom: 1px solid #333;
        }
        .rpwe-title {
            a {
                color: #ff9900;
            }
        }
    }
    #target {
        .widget-title {
            text-transform: uppercase;
            font-size: 16px;
            color: #333;
            border-bottom: 1px solid #333;
        }
        .rpwe-title {
            a {
                color: #333;
            }
        }
    }
    #du-an-bds {
        .du-an-item {
            padding: 10px;
            .image {
                box-sizing: border-box;
                overflow: hidden;
                border: 3px solid #fff;
                box-shadow: 0 0 3px #000;
                img {
                    width: 100%!important;
                    height: auto!important;
                    @extend .transition;
                }
            }
            .image:hover img {
                transform: scale(1.3);
                -webkit-transform: scale(1.3);
                -moz-transform: scale(1.3);
                -o-transform: scale(1.3);
                -ms-transform: scale(1.3);
            }
            .post-title {
                text-align: center;
                padding-top: 10px;
                a {
                    text-decoration: none;
                }
            }
        }
        .glyphicon-chevron-left {
            left: -40px;
        }
        .glyphicon-chevron-right {
            right: -40px;
        }
        .glyphicon-chevron-left,
        .glyphicon-chevron-right {
            display: inline-block;
            position: absolute;
            margin-top: 80px;
            font-size: 30px;
            color: #fff;
            text-shadow: 0 0 5px #000;
        }
    }
    #tin-bds {
        .widget-title {
            text-transform: uppercase;
            font-size: 16px;
            color: #333;
            border-bottom: 1px solid #333;
        }
    }
    #contact {
        @extend %contact;
    }
    .author {
        font-size: 13px;
        font-weight: normal!important;
        color: #8899a6;
        text-transform: none;
        border-top: 1px solid rgba(136, 153, 166, 0.24);
    }
}

@media screen and (max-width: 1050px) {
    #project-info,
    #news,
    #contact {
        .glyphicon {
            display: none!important;
        }
    }
}

@keyframes myfirst {
    from {
        width: 0px;
    }
    to {
        width: 100%;
    }
}
