.container {
    #page {
        #breadcrumbs {
            @extend %breadcrumbs;
        }
        padding-bottom: 40px;
        overflow: auto;
        .page-title, .widget-title {
            margin-top: 20px;
            font-family: 'Proximanova';
            color: $pomegranate;
            font-size: 22px;
            font-weight: bold;
        }
        .widget-title {
            margin-top: 25px;
        }
        .aligncenter {
            margin: 0px auto;
            display: block;
        }
        #apartment-design {
            .rpwe-title {
                font-size: 16px!important;
                font-family: 'Proximanova';
                font-weight: bold!important;
                color: #333!important;
                text-align: center;
            }
            .rpwe-img {
                img {
                    width: 100%!important;
                    height: auto!important;
                }
            }
        }
    }
    #contact {
        @extend %contact;
    }
}
