.search-result-title {
	font-family: 'Proximanova';
	color: #333;
	text-transform: uppercase;
	font-size: $font-size-large;
}
.search-result {
    padding: 10px;
    min-height: 320px;
    .image {
        border: 5px solid #fff;
        box-sizing: border-box;
        box-shadow: 0 0 5px #000;
        overflow: hidden;
        a {
            text-decoration: none;
            img {
                width: 100%;
                height: auto!important;
                @extend .transition;
            }
        }
    }
    .image:hover img {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
    }
    .p_row {
        margin-top: 10px;
        .date {
            padding: 5px;
            border: 1px solid #ddd;
            float: left;
            span {
                display: block;
                padding: 0px 5px;
            }
        }
        .post-title {
            overflow: hidden;
            text-align: left;
            a {
                text-decoration: none;
                p {
                    padding-left: 10px;
                    font-weight: bold;
                    margin-bottom: 0px;
                }
            }
        }
    }
}
