$font-size-small: 12px;
$font-size-normal: 14px;
$font-size-large: 16px;
$menu-bg-color: #022B41;
$dropdown-bg-color: #414141;
$black: #333;
$gray: #8899a6;
$white: #fff;
$sliver: #bdc3c7;
$pomegranate: #d14233;
.transition {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
}

@font-face {
    font-family: 'Proximanova';
    src: url('../fonts/VNF-ProximaNovaCond-Regular.ttf');
}

@font-face {
    font-family: 'Calendas Plus';
    src: url('../fonts/Calendas_Plus.otf');
}

body {
    padding-top: 60px;
    overflow-y: scroll;
    .wrapper {
        min-height: 450px;
    }
}

.navbar-default {
    min-height: 60px;
    border-radius: 0px;
    background-image: none;
    background-color: $menu-bg-color;
    border-top: 3px solid #414141;
    border-left: none;
    padding: 0px;
    font-family: 'Proximanova'!important;
    .dropdown:hover .dropdown-menu {
        display: block;
    }
    .navbar-header {
        height: 60px;
        .navbar-brand {
            padding: 5px 0px;
            img {
                height: 50px;
                max-width: 250px;
            }
        }
    }
    .navbar-collapse {
        #main-menu {
            li {
                a {
                    line-height: 60px;
                    padding: 0px 15px;
                    color: #DEA226;
                    @extend .transition;
                    font-size: $font-size-normal;
                    text-transform: uppercase;
                    font-size: 15px;
                }
                ul {
                    padding: 0px;
                    margin-top: -1px;
                    a.dropdown-toggle {
                        display: none;
                    }
                    li {
                        a {
                            background-color: $dropdown-bg-color!important;
                            line-height: 40px;
                            color: #e9e9e9;
                            border-top: 1px solid rgba(0, 0, 0, 0.13);
                            font-size: 14px;
                        }
                    }
                }
                a:hover {
                    color: #1abb9c;
                }
            }
            .open {
                a {
                    background-color: $menu-bg-color;
                    background-image: none;
                }
            }
        }
    }
}

footer {
    background: #2D3E4F;
    color: #fff;
    font-family: 'Proximanova';
    padding: 10px 0px 40px;
    .widget-title {
        font-size: 26px;
    }
    ul {
        padding-left: 10px;
        li {
            a {
                text-decoration: none!important;
                color: #fff;
                @extend .transition;
            }
            a:hover {
                color: rgba(255, 255, 255, 0.6);
            }
        }
    }
}

.recent-posts {
    .widget-title {
        margin-top: 20px;
        font-family: 'Proximanova';
        color: $pomegranate;
        font-size: 22px;
        font-weight: bold;
    }
    ul {
        li {
            margin: 0px;
            padding: 0px;
            border: none;
            a {
                color: #333;
                line-height: 25px;
                @extend .transition;
            }
            a:hover {
                color: $pomegranate;
            }
        }
        li:before {
            content: '';
            display: block;
            width: 15px;
            height: 15px;
            background-image: url('../images/star.png');
            float: left;
            background-size: 15px 15px;
            margin-top: 2px;
            margin-right: 5px;
        }
    }
}

.ssb-share > div {
    float: left;
    width: 90px;
}

@media(max-width:767px) {
    .navbar-default .navbar-collapse #main-menu li a {
        line-height: 25px!important;
    }
}

%contact {
    margin-top: 40px;
    #contact-widget {
        margin-top: 30px;
        margin-bottom: 30px;
        .nf-image-border {
            width: 150px;
            height: 150px;
            margin: 10px auto;
            border-radius: 100%;
            overflow: hidden;
            border: 5px solid #fff;
            box-sizing: border-box;
            box-shadow: 0 0 5px #000;
            position: relative;
            img {
                width: 100%;
                min-height: 100%;
                cursor: pointer;
                @extend .transition;
            }
            .image-hover {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0px;
                left: 0px;
                background-color: rgba(0, 0, 0, 0.2);
                text-align: center;
                display: none;
                cursor: pointer;
                @extend .transition;
                .glyphicon-search {
                    color: #fff;
                    font-size: 30px;
                    line-height: 140px;
                }
            }
        }
        .nf-image-border:hover .image-hover {
            display: block;
        }
        .nf-conctact-name {
            text-align: center;
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 0px;
        }
        .nf-conctact-phone {
            text-align: center;
            color: $pomegranate;
            font-size: 16px;
            font-weight: bold;
        }
        .glyphicon-chevron-left {
            left: -40px;
        }
        .glyphicon-chevron-right {
            right: -40px;
        }
        .glyphicon-chevron-left,
        .glyphicon-chevron-right {
            display: inline-block;
            position: absolute;
            margin-top: 75px;
            font-size: 30px;
            color: #fff;
            text-shadow: 0 0 5px #000;
        }
    }
}

%breadcrumbs {
    margin-top: 20px;
}

.overflow-hidden {
    overflow: hidden;
}

.fb-comments,
.fb-comments span,
.fb-comments iframe {
    width: 100% !important;
}

.searchform {
    .screen-reader-text {
        display: none;
    }
    input {
        height: 34px;
        padding: 5px;
        color: #333;
        border-radius: 3px;
    }
    input[type="text"] {
        border: 1px solid #ddd;
    }
    input[type="submit"] {
        color: #fff;
        background: #27ae60;
        border: none;
        padding-left: 10px;
        padding-right: 10px;
    }
}
